<script src="/lib/codemirror/js/codemirror.js"></script>
<script src="/lib/codemirror/mode/javascript/javascript.js"></script>

<h1>Game parameters</h1>

<h2>Items list editor</h2>
<a href="javascript:toggle_spoiler('items');"><strong>Show / Hide</strong></span></a>
<form id="items" class="spoiler">
  <textarea id="items_editor" rows="14" cols="50" border="1" style="resize: none;"></textarea><br>
  <button type="submit">Save</button>
  <pre id="items_output"></pre>
</form>


<h2>Allowed actions editor</h2>
<a href="javascript:toggle_spoiler('allowed_actions');"><strong>Show / Hide</strong></span></a>
<form id="allowed_actions" class="spoiler">
  <textarea id="allowed_actions_editor" rows="14" cols="50" border="1" style="resize: none;"></textarea><br>
  <button type="submit">Save</button>
  <pre id="allowed_actions_output"></pre>
</form>

<h2>Backpack editor</h2>
<a href="javascript:toggle_spoiler('backpack');"><strong>Show / Hide</strong></span></a>
<form id="backpack" class="spoiler">
  <textarea id="backpack_editor" rows="14" cols="50" border="1" style="resize: none;"></textarea><br>
  <button type="submit">Save</button>
  <pre id="backpack_output"></pre>
</form>

<h2>Leveling editor</h2>
<a href="javascript:toggle_spoiler('leveling');"><strong>Show / Hide</strong></span></a>
<form id="leveling" class="spoiler">
  <textarea id="leveling_editor" rows="14" cols="50" border="1" style="resize: none;"></textarea><br>
  <button type="submit">Save</button>
  <pre id="leveling_output"></pre>
</form>

<h2>Crafting editor</h2>
<a href="javascript:toggle_spoiler('crafting');"><strong>Show / Hide</strong></span></a>
<form id="crafting" class="spoiler">
  <textarea id="crafting_editor" rows="14" cols="50" border="1" style="resize: none;"></textarea><br>
  <button type="submit">Save</button>
  <pre id="crafting_output"></pre>
</form>

<h2>Beacon's editor</h2>
<a href="javascript:toggle_spoiler('beacon');"><strong>Show / Hide</strong></span></a>
<form id="beacon" class="spoiler">
  <textarea id="beacon_editor" rows="14" cols="50" border="1" style="resize: none;"></textarea><br>
  <button type="submit">Save</button>
  <pre id="beacon_output"></pre>
</form>

<script type="text/javascript">
  editor = {}

  function generic_setup(name, content) {
    // Cambiar editor de objetos 
    editor[name] = CodeMirror.fromTextArea(document.getElementById(name + "_editor"), {
      matchBrackets: true,
      autoCloseBrackets: true,
      mode: "application/ld+json",
      lineWrapping: true,
      lineNumbers: true,
      smartIndent: true,
      tabSize: 2
    });
  
    editor[name].setValue( content );
    
    // Enviar al servidor lista de objetos
    $(document).ready(function(){
      $('#' + name).submit(function(evento){
        evento.preventDefault();
  
        var data;
        try {
          data = editor[name].getValue();
          document.getElementById(name + "_output").innerHTML = "";
        }
        catch(error) {
          document.getElementById(name + "_output").innerHTML = "Error: " + error;
          document.getElementById(name + "_output").style.color = "red";
          
          return;
        }
  
        $.ajax({
          url: '/admin/game_parameters/' + name,
          type: 'post',
          dataType: 'json',
          data: { data: data },
          success: function(datos){
            document.getElementById(name + "_output").innerHTML = "Ok."
            document.getElementById(name + "_output").style.color = "green";
          },
          error: function( jqXHR, textStatus, errorThrown ) {
            console.log(jqXHR);
            document.getElementById(name + "_output").innerHTML = "Error " + jqXHR.status + ": " + jqXHR.responseText;
            document.getElementById(name + "_output").style.color = "red";
          }
        });
      });
    });
  }

  generic_setup("items", <%= file = File.open( Game::Mechanics::ItemsMechanics::DATAFILE ).read.to_json %>);
  generic_setup("allowed_actions", <%= file = File.open( Game::Mechanics::AllowedActionsMechanics::DATAFILE ).read.to_json %>);
  generic_setup("backpack", <%= file = File.open( Game::Mechanics::BackpackMechanics::DATAFILE ).read.to_json %>);
  generic_setup("leveling", <%= file = File.open( Game::Mechanics::LevelingMechanics::DATAFILE ).read.to_json %>);
  generic_setup("crafting", <%= file = File.open( Game::Mechanics::CraftingMechanics::DATAFILE ).read.to_json %>);
  generic_setup("beacon", <%= file = File.open( Game::Mechanics::BeaconMechanics::DATAFILE ).read.to_json %>);
</script>