<h1>Users administration</h1>

<h2>Search user by alias</h2>
<form id="search_user_by_alias">
  <label>User alias</label><input type="text" name="alias" placeholder="User alias (e.g: ExampleName)"><br>
  <label>Regular expression?</label><input type="checkbox" name="regexp" ><br>
  
  <button type="submit">Search</button>
</form><br>
<div id="user_search_alias_result">
</div>

<h2>Search user by email</h2>
<form id="search_user_by_email">
  <label>User email</label><input type="text" name="email" placeholder="User email (e.g: yourmail@example.com)"><br>
  <label>Regular expression?</label><input type="checkbox" name="regexp" ><br>
  
  <button type="submit">Search</button>
</form><br>
<div id="user_search_email_result">
</div>

<h2>Ban an user</h2>
<form id="ban_user">
  <label for="ban_id">User id: </label><input type="text" placeholder="User email (e.g: yourmail@example.com)" name="ban_id" ><br>
  <label for="ban_duration">Ban duration: </label><input type="number" placeholder="Ban duration (in seconds)" name="ban_duration" ><br>
  <label for="ban_reason">Ban reason: </label><input type="text" placeholder="Ban reason (e.g: 'Offensive language.')" name="ban_reason" ><br>

  <button type="submit">Ban user</button>
</form>

<h2>Unban an user</h2>
<form id="unban_user">
  <label for="unban_id">User id: </label><input type="text" placeholder="User email (e.g: yourmail@example.com)" name="unban_id" ><br>

  <button type="submit">Unban user</button>
</form>

<h2>Banned users list</h2>
<div id="user_banned_list">
  <table>
    <tr>
      <th>uuid</th>
      <th>email</th>
      <th>alias</th>
      <th>banned until</th>
      <th>ban reason</th>
    </tr>
    <% Game::AuthManager.banned_users().each do |u| %>
    <tr>
      <td><%= u.uuid %></td>
      <td><%= u.user_id %></td>
      <td><%= u.alias %></td>
      <td><%= u.banned_until.strftime("%Y/%m/%d - %H:%M:%S - UTC %:z") %></td>
      <td><%= u.banned_reason %></td>
    </tr>
    <% end %>
  </table>
</div>


<script>
  $(document).ready(function(){
    // Petición de buscar usuario por alias
    $('#search_user_by_alias').submit(function(evento){
      evento.preventDefault();
      var datos_formulario = $(this).serialize();
      
      $.ajax({
        url: '/admin/users/search_by_alias',
        data: datos_formulario,
        type: 'post',
        dataType: 'json',
        success: function(datos){
          html = "<table><tr><th>uuid</th><th>email</th><th>alias</th><th>banned until</th><th>ban reason</th></tr>"
          
          for(i in datos) {
            u = datos[i]
            html += "<tr>"
              html += "<td>" + u.uuid + "</td>"
              html += "<td>" + u.user_id + "</td>"
              html += "<td>" + u.alias + "</td>"
              html += "<td>" + u.banned_until + "</td>"
              html += "<td>" + u.banned_reason + "</td>"
            html += "</tr>"
          }
          
          html += "</table>"
          document.getElementById("user_search_alias_result").innerHTML = html
        }
      });     
    });
    
    // Petición de buscar usuario por email
    $('#search_user_by_email').submit(function(evento){
      evento.preventDefault();
      var datos_formulario = $(this).serialize();
      $.ajax({
        url: '/admin/users/search_by_email',
        data: datos_formulario,
        type: 'post',
        dataType: 'json',
        success: function(datos){
          html = "<table><tr><th>uuid</th><th>email</th><th>alias</th><th>banned until</th><th>ban reason</th></tr>"
          
          for(i in datos) {
            u = datos[i]
            html += "<tr>"
              html += "<td>" + u.uuid + "</td>"
              html += "<td>" + u.user_id + "</td>"
              html += "<td>" + u.alias + "</td>"
              html += "<td>" + u.banned_until + "</td>"
              html += "<td>" + u.banned_reason + "</td>"
            html += "</tr>"
          }
          
          html += "</table>"
          document.getElementById("user_search_email_result").innerHTML = html
        }
      });     
    });
    
    // Banear un usuario
    $(document).ready(function(){
      $('#ban_user').submit(function(evento){
        evento.preventDefault();
        var datos_formulario = $(this).serialize();         
        $.ajax({
          url: '/admin/users/ban',
          data: datos_formulario,
          type: 'post',
          dataType: 'json',
          success: function(datos){
            // Recargar
            window.location.href=window.location.href
          }
        });     
      });
    });
  
    // Desbanear un usuario
    $(document).ready(function(){
      $('#unban_user').submit(function(evento){
        evento.preventDefault();
        var datos_formulario = $(this).serialize();         
        $.ajax({
          url: '/admin/users/unban',
          data: datos_formulario,
          type: 'post',
          dataType: 'json',
          success: function(datos){
            // Recargar
            console.log("unban!")
            window.location.href=window.location.href
          }
        });     
      });
    });
  });
</script>
